#home {
    margin-top: 50px;
    background: #dadada;
}
.home-body {
    margin-top: 60px;
}
.routes-body {
    margin-top: 50px
}

.navbar-inverse .navbar-nav>.active>a {
    background: #e74c3c;
}

.logout-btn {
    float: right;
    margin-top: 10px;
}

div.error {
    color: #e74c3c;
    margin-top: 10px;
    text-align: left;
    font-weight: 700;
}